body {
  background-color: #f1cff0;
  font-family: cursive;
}

a {
  color: #4e0c0c;
}

.weather-app {
  background: linear-gradient(135deg, #ee9fd0, #d78fec);
  color: #fff;
  border-radius: 20px;
  text-align: center;
  max-width: 480px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  height: 510px;
}

search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}

.search-form-input {
  background-color: #fffdfe;
  border: none;
  color: #080808;
  font-size: 16px;
  padding: 20px;
  width: 60%;
  border-radius: 6px;
}

.search-form-button {
  margin-left: 5px;
  font-size: 16px;
  background-color: #8627b3;
  color: #080808;
  border: none;
  padding: 20px;
  line-height: 1;
  border-radius: 5px;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-city {
  margin: 0;
  font-size: 40px;
  line-height: 48px;
  padding: 15px;
}

.weather-app-details {
  font-size: 16px;
  color: #0d0d0e66;
  line-height: 24px;
  font-weight: 500;
}

.weather-app-details strong {
  color: #141314;
}

.weather-app-temperature-container {
  display: flex;
}

.weather-app-icon {
  width: 88px;
  height: 88px;
}

.weather-app-temperature {
  font-size: 88px;
  line-height: 88px;
  font-weight: bold;
}

.weather-app-unit {
  margin-top: 6px;
  font-size: 28px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.weather-forecast-date {
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.weather-forecast-icon {
  width: 88px;
  height: 88px;
  display: block;
  margin: 0 auto;
}
.weather-forecast-temperatures {
  text-align: center;
  color: #0f0e0f;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.weather-forecast-temperature {
  padding: 0 10px;
}

footer {
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: #00000099;
}
